.page-header {
    background-color: DeepSkyBlue;
    margin-top: 0;
    padding: 5px 0px 10px 50px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 28pt;
    text-decoration: none;
}

.content {
    margin-left: 0px;
    padding: 0px 0px 0px 50px;
}

h1, h2, h3, h4 {
    font-family: 'Open Sans', 'Roboto Condensed';
}

label {
    font-weight: normal;
    font-family: 'Open Sans', 'Roboto Condensed';
}

span {
    letter-spacing: 5px
}
span.pam {
    background-color: #FFE87C;
    color: #888888
}

span.spacer {
    background-color: #6AFB92;
    color: #888888
}

span.dna {
    background-color: #F5F4F2;
    color: #AAAAAA
}

span.dna_disabled {
    background-color: #F5F4F2;
    color: #AAAAAA
}

