/* General */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600);
@import url(https://fonts.googleapis.com/css?family=Lato:400,400italic,700);

body.dna2_body {
	background-image: url("images/background.png");
	background-position: center top;
}

body {
	color: rgb(51, 51, 51);
	font-family: 'Lato', sans-serif;
}

body .dna2_main_content a:not(.btn) a:not(.disabled){
	color: #225E9B;
}

body.dna2_body .dna2_main_content .active > a {
	color: #333;
}

.dna2_menu_item a {
	color: #225E9B;
}

ul.nav-tabs li > a {
	background-color: #E6E6E6;
}

body.dna2_body form {
	margin: 0;
}

body.dna2_body h1,
body.dna2_body h2,
body.dna2_body h3,
body.dna2_body h4,
body.dna2_body h5,
body.dna2_body h6 {
	color: rgb(51, 51, 51);
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}

div.dna2_foreground {
	position: absolute;
	width: 100%;
	height: 100%;
}

div.dna2_center_margins {
	position: relative;
	min-width: 1070px;
	width: 1070px;
	margin: 0px auto;
	padding: 15px;
}

div.dna2_main_content > div.dna2_center_margins {
	padding-top: 0;
}





/* Bootstrapping!! */

.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.3);
}

.modal-backdrop.fade.in {
  background: rgba(0, 0, 0, 0.3);
}

fieldset legend {
  margin-bottom: 0 !important;
  border-bottom: none !important;
}

fieldset legend:after {
    display: block;
    height: 20px; /* @baseLineHeight; */
    border-top: 1px solid #e5e5e5;
    content: "";
}





/* Header menu */

div#dna2_main_nav_container {
	font-family: 'Open Sans', sans-serif;
}

div#dna2_main_nav_container {
	position: absolute;
}

div#dna2_main_nav_container li {
	border 0;
}

/* Top level Menu */

div#dna2_main_nav_container ul.dna2-main-nav  {
	position: relative;
	left: 123px;
	bottom: 18px;
	font-size: 16px;
	font-weight: 400;
}

div#dna2_main_nav_container ul.dna2-main-nav > li.menu-item {
	display: inline-block;
	padding-left: 9px;
	padding-right: 5px;
	border-left-style: solid;
	border-left-width: 2px;
	border-left-color: rgb(160, 205, 239);
}

div#dna2_main_nav_container ul.dna2-main-nav > li:last-child > a {
	color: rgb(187, 18, 63);
}

div#dna2_main_nav_container ul.dna2-main-nav > li.menu-item:first-child {
	padding-left: 0;
	border: none;
}

/* submenu */

div#dna2_main_nav_container ul.dna2-main-nav > li a {
    color: rgb(81, 98, 111);
}

div#dna2_main_nav_container ul.dna2-main-nav ul {
	margin: 0;
}

div#dna2_main_nav_container ul.dna2-main-nav > li > ul {
    z-index: 300;
    
    display: none;
    position: absolute;
    margin-top: 5px;
    margin-left: -18px;
    white-space: nowrap;
    
    opacity: 1;
    
    border: 2px solid white;
	border-radius: 5px;
	box-shadow: 0px 1px 3px #999;
	
	background: -moz-linear-gradient(top,  rgba(239,239,239,1) 0%, rgba(255,255,255,1) 50%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(239,239,239,1)), color-stop(50%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(239,239,239,1) 0%,rgba(255,255,255,1) 50%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(239,239,239,1) 0%,rgba(255,255,255,1) 50%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(239,239,239,1) 0%,rgba(255,255,255,1) 50%); /* IE10+ */
	background: linear-gradient(top,  rgba(239,239,239,1) 0%,rgba(255,255,255,1) 50%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

div#dna2_main_nav_container ul.dna2-main-nav > li > ul > li {
    display: block;
    position: relative;
    
    font-size: 16px;
    margin: 20px 15px;
}

div#dna2_main_nav_container ul.dna2-main-nav > li > ul > li > ul {
    display: block;
    position: relative;
}

div#dna2_main_nav_container ul.dna2-main-nav > li > ul > li > ul > li {
    display: inline-block;
    position: relative;
    font-size: 11px;
    
    padding-left: 9px;
	padding-right: 6px;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: rgb(204, 204, 204);
}

div#dna2_main_nav_container ul.dna2-main-nav > li > ul > li > ul > li:first-child {
	padding-left: 0;
	border: none;
}





/* ECOM */

div.dna2_ecom_items {
	font-family: 'Open Sans', sans-serif;
	position: absolute;
	right: 15px;
	bottom: 15px;
	font-size: 12px;
	font-weight: 400;
}

div.dna2_ecom_items > div {
	display: block;
}

div.dna2_ecom_top_items {
	padding-bottom: 6px;
}

div.dna2_ecom_top_items a {
	color: rgb(81, 98, 111);
}

a#dna2_ecom_user {
	display: inline-block;
	vertical-align: bottom;
	white-space: nowrap;
	max-width: 75px;
	overflow: hidden;
	text-overflow: ellipsis;
}

a#dna2_ecom_cart {
	float: right;
	white-space: nowrap;
}

a#dna2_ecom_cart img {
	vertical-align: text-bottom;
}

a#dna2_ecom_quote_order {
	display: inline-block;
	width: 200px;
	height: 32px;
	text-align: center;
	
	border-radius: 4px;
	box-shadow: 0px 1px 3px #999;
	
	color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #006dcc;
    background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
    background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
    background-image: -o-linear-gradient(top, #0088cc, #0044cc);
    background-image: linear-gradient(to bottom, #0088cc, #0044cc);
    background-repeat: repeat-x;
    border-color: #0044cc #0044cc #002a80;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.gradient {
    filter: none;
}

a#dna2_ecom_quote_order span{
	display: inline-block;
	color: white;
	font-size: 18px;
	padding-top: 4px;
}





/* Image rotator */
div.dna2_image_rotator {
	height: 80px;

	background-repeat: repeat-x;
	background-position: center;
	
	border-style: solid;
	border-top-width: 2px;
	border-top-color: rgb(81, 98, 111);
	border-bottom-width: 2px;
	border-bottom-color: rgb(18, 86, 138);
	
	border-left: 0;
	border-right: 0;
}

input#dna2_searchbox_back {
	position: absolute;
	top: 23px;
	right: 15px;
	width: 192px;
	height: 28px;
	
	border: 2px solid rgb(18, 86, 138);
	border-radius: 4px;
	
	background-color: rgba(255, 255, 255, 0.7);
	background-image: url('images/search.png');
	background-repeat: no-repeat;
	background-position: center right;
	background-origin: content-box;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 2px;
	padding-right: 2px;
	
	font-family: 'Lato', sans-serif;
	font-size: 22px;
    color: rgb(51, 51, 51);
    
    z-index: 200;
}

div#dna2_searchbox_dialog {
	display: none;
	position: absolute;
	top: -25px;
	right: -10px;
	width: 448px;
	height: 150px;
	
	border: 1px solid rgb(204, 204, 204);
	border-radius: 10px;
	background-color: white;
	box-shadow: 0px 0px 50px #666;
    
    z-index: 300;
}

div#dna2_searchbox_dialog div#dna2_searchbox_title {
	position: absolute;
    margin-top: 15px;
	margin-left: 24px;
	color: rgb(51, 51, 51);
	font-size: 22px;
}

div#dna2_searchbox_dialog input#dna2_searchbox_fore {
	position: absolute;
    margin-top: 45px;
	margin-left: 24px;
	color: rgb(51, 51, 51);
	font-size: 22px;
    
    width: 392px;
	height: 36px;
	
	border: 2px solid rgb(18, 86, 138);
	border-radius: 4px;
	
	background-color: rgba(255, 255, 255, 0.7);
	background-image: url('images/search.png');
	background-repeat: no-repeat;
	background-position: center right;
	background-origin: content-box;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 2px;
	padding-right: 2px;
	
	font-family: 'Lato', sans-serif;
	font-size: 22px;
    color: rgb(51, 51, 51);
    
    z-index: 400;
}

div#dna2_searchbox_dialog div#dna2_searchbox_type {
	position: absolute;
    margin-top: 100px;
	margin-left: 24px;
	color: rgb(51, 51, 51);
    font-family: 'Lato', sans-serif;
    font-weight: 400;
	font-size: 14px;
}

div#dna2_searchbox_dialog div#dna2_searchbox_type > input {
    vertical-align: baseline;
}

div#dna2_searchbox_wall {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    
    background-color: rgba(0, 0, 0, 0.3);
    
    z-index: 200;
}






/* Submenu */

div.dna2_sub_menu {
	width: 100%;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #CCC;
	font-family: 'Open Sans', sans-serif;
	text-align: right;
}

.dna2_sub_menu_title {
	float: left;
	margin-top: 6px;
}

.dna2_sub_menu_title > a {
	text-decoration: none !important;
	color: rgb(18, 86, 138);
	font-size: 32px;
}

.dna2_sub_menu_item {
	display: inline-block;
	padding-left: 7px;
	padding-right: 6px;
	padding-top: 10px;
	padding-bottom: 12px;
}

.dna2_sub_menu_item:last-child {
	padding-right: 0;
}

.dna2_sub_menu_item > a {
	text-decoration: none !important;
	color: rgb(81, 98, 111);
	font-size: 16px;
}

.dna2_selected_sub_menu_item {
	background-image: url('images/indicator.png');
	background-repeat: no-repeat;
	background-position: bottom center;
	margin-bottom: -1px;
	background-color: transparent;
	background-clip: border-box;
	background-origin: border-box;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: transparent;
}

.dna2_selected_sub_menu_item > a {
	color: rgb(187, 19, 62) !important;
}






/* Background */
div.dna2_background_container {
	position: fixed;
	display: table;
	width: 100%;
	height: 100%;
	table-layout: fixed;
}

div.dna2_background_left_texture {
	display: table-cell;
	background-image: url("images/trans2white.png");
	background-repeat: repeat-y;
	background-position: right;
}

div.dna2_background_content {
	display: table-cell;
	width: 1100px;
	background-color: white;
}

div.dna2_background_right_texture {
	display: table-cell;
	background-image: url("images/white2trans.png");
	background-repeat: repeat-y;
}






/* Footer */
div.dna2_footer {
	padding: 35px 0px 45px 0px;
	background-color: rgb(81, 98, 111);
	color: #CCC;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 21px;
}

div.dna2_footer .dna2_footer_menu_item > a{
	color: white;
	line-height: 32px;
}

div.dna2_footer .dna2_footer_menu_item > a > img {
	padding-top: 5px;
	padding-bottom: 10px;
}





/* Other */

.dna2-table-constraints {
	height: 150px;
	overflow: auto;
}

.showMoreOverflow {
	max-height: 200px;
	overflow-y: hidden;
}

.showMoreButtonContainer {
	text-align: center;
}

.icon-absolute {
	position: absolute;
}

.infinite-more-link {
      visibility:hidden;
}

.disable-label {
	color: lightgray;
}

.btn {
	white-space: nowrap;	
}

input.placeholder {
	color: #aaa;
}

textarea.placeholder {
	color: #aaa;
}

.affix {
	position: fixed;
	top: 0px;
	box-shadow: rgb(153, 153, 153) 0px 1px 10px 1px;
	z-index: 1;
}

.highlight {
	background-color: yellow;
}

/* Wizard Scaffolding */

    .wizard-container {
        border: 1px solid #ddd;
        border-radius: 10px;
        box-shadow: 0 1px 2px rgba(0,0,0,0.05);
        display: inline-block;
        font-size: 0;
        margin-bottom: 30px;
        overflow: hidden;
    }
    
    .wizard-step {
        display: inline-block;
        vertical-align: middle;
        border-right: 1px solid #ddd;
        padding: 10px;
    }
    
    .wizard-container > .active,
    .wizard-container > .disabled {
        cursor: default;
    }
    
    .wizard-step:last-child {
        border-right: none;
    }
    
    .wizard-container > .active {
        background: rgb(239,239,239); /* Old browsers */
        background: -moz-linear-gradient(top,  rgba(239,239,239,1) 0%, rgba(255,255,255,1) 50%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(239,239,239,1)), color-stop(50%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  rgba(239,239,239,1) 0%,rgba(255,255,255,1) 50%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  rgba(239,239,239,1) 0%,rgba(255,255,255,1) 50%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  rgba(239,239,239,1) 0%,rgba(255,255,255,1) 50%); /* IE10+ */
        background: linear-gradient(top,  rgba(239,239,239,1) 0%,rgba(255,255,255,1) 50%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
    }
    
    .wizard-step-title {
    	font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        padding-top: 5px;
        padding-bottom: 15px;
        color: rgb(67, 156, 224);
    }
    
    .active > .wizard-step-title {
        color: rgb(187, 18, 63);
    }
    
    .active > .wizard-step-title > a {
        color: rgb(187, 18, 63);
    }
    
    .disabled > .wizard-step-title {
        color: #c7c7c7;
    }
    
    .wizard-sub-step {
        color: #888;
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        padding: 6px;
        margin-right: 5px;
        font-size: 13px;
        
        border: 1px solid #white;
        border-radius: 5px;
        background: #f5f5f5;
    }
    
    .wizard-sub-step:last-child {
        margin-right: 0;
    }
/* End of Wizard Scaffolding */

.accordion-heading {
	background: #f2f2f2;
	border-bottom: 0;
}

.accordion-inner {
	padding: 9px 15px;
	border-top: 1px solid #f0f0f0;
}
.monospace {
	font-family: "Courier New", Courier, monospace;
}

.controls.form-inline .radio, .controls.form-inline .checkbox {
	padding-top: 5px;
}

/* spinedit control CSS */
div.spinedit { display: inline-block; position: relative; }
input[type="text"].spinedit { width: 35px; }
div.spinedit .icon-chevron-up,
div.spinedit .icon-chevron-down { position: relative; cursor: pointer; width: 12px; left: 8px; }
div.spinedit .icon-chevron-up { top: -12px; }
div.spinedit .icon-chevron-down { top: 3px; left: -5px; }
.form-search div.spinedit, .form-inline div.spinedit, .form-horizontal div.spinedit { top: 5px; }

.icon-question-sign, .fa-question-circle {
	color: #439ce0;
}

.fa-file-pdf-o {
	font-size: 16px;
}


.dna2-data-table tr td {
	word-break: break-all;
}